<!DOCTYPE html>
<html lang="en" ng-app="ExtractApp">
	<head>
		<meta charset="utf-8">
		<title>Extract</title>
		<script src="Scripts/jquery/jquery-3.2.1.min.js"></script>
		<script src="Scripts/angularjs/angular.js"></script>
		<script src="Scripts/app/app.js"></script>
	</head>

	<body ng-controller="ExtractController">
		<input type="file" id="file" name="file" />
		<button id="upload" ng-click="upload()">
			upload
		</button>
		<button id="exportCsv" ng-click="exportCsv()">
			export to csv
		</button>
		<button id="exportXml" ng-click="exportXml()">
			export to xml
		</button>
		<button id="exportSQL" ng-click="exportSQL()">
			export to sql
		</button>
	</body>

</html>
